html {
  scroll-behavior: smooth;
}


body {
  background-color: #03000a !important;
}

/* Degradado del título */
.text-gradient {
    background-clip: border-box;
  background: linear-gradient(90deg, #ff66b2, #a16ff7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Navbar */
.navbar .nav-link {
  color: #fffffff8; /* blanco suave */
  transition: color 0.2s ease, text-shadow 0.2s ease;
}

.navbar .nav-link:hover {
  color: #a16ff7; /* tu color rosa neon */
  text-shadow: 0 0 8px #a16ff7;
}




/* Foto */
img.rounded-circle {
  max-width: 250px;
}

/* Texto */
p {
  color: #cfcfcf;
  line-height: 1.6;
}



.project-card {
  background-color: #1b1727;
  border: 1px solid #a16ff7;
  transition: .25s;
}

.project-card:hover {
  transform: translateY(-6px);
  border-color: #ff4dd2;
    box-shadow: 0 0 15px rgba(255, 0, 180, 0.25);
}

.project-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.icons i {
  font-size: 1.3rem;
  margin-right: 8px;
  color: #cfc3ff;
}

.project-btn {
  border-radius: 12px;
  font-weight: 600;
  padding: 7px 18px;
  border-width: 2px !important;
}


/* CARD estilo oscuro con borde degradado */
.skill-card {
  background: #1a161d;
  border: 1px solid #a16ff7;
  box-shadow: 0 0 10px rgba(255, 0, 128, 0.08);
  transition: all 0.3s ease;
}

/* Hover */
.skill-card:hover {
  transform: translateY(-5px);
  border-color: #deff4d;
  box-shadow: 0 0 15px rgba(255, 0, 180, 0.25);
}

/* Íconos */
.icon-skill {
  font-size: 2rem;
  color: #ff4dd2;
}



/* Inputs */
.input-contact {
  background: #2a1f27;
  border: 1px solid #ff4dd2;
  color: #fff;
  border-radius: 8px;
  padding: 12px;
}

.input-contact::placeholder {
  color: #b8a9b3;
}

.input-contact:focus {
  border-color: #ff4dd2;
  box-shadow: 0 0 10px rgba(255, 0, 180, 0.25);
  background: #2a1f27;
  color: #fff;
}

/* Botón */
.btn-contact {
  background: transparent;
  border: 1px solid #ff4dd2;
  color: #ff4dd2;
  padding: 10px 25px;
  border-radius: 10px;
  font-weight: 500;
  transition: all .3s ease;
}

.btn-contact i {
  margin-right: 6px;
}

.btn-contact:hover {
  background: #ff4dd2;
  color: #fff;
  box-shadow: 0 0 15px #ff4dd2;
}



